<connectionStrings>
  <clear />
  <add name="ModelContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v12.0;Initial Catalog=ModelData;Trusted_Connection=True;MultipleActiveResultSets=True;Application Name=ModelData" />
  <!--<add name="Model" connectionString="Data Source=(localdb)\v12.0;Initial Catalog=ModelData;Trusted_Connection=True;MultipleActiveResultSets=True;Application Name=Model" providerName="System.Data.SqlClient" />-->
</connectionStrings>