html, body, * {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/* CUSTOM*/

.navbar-nav li a, .navbar-brand {
    line-height: 50px !important;
}

.profile-image {
    width: 50px;
}

.margin-top-40 {
    margin-top: 40px;
}

.float-right {
    float: right;
}

.bs-callout-danger {
    border-left-color: red !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.dropdown-menu form {
    width: 100%;
}

    .dropdown-menu form a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333333;
        white-space: nowrap;
    }

        .dropdown-menu form a:hover {
            color: #ffffff;
            text-decoration: none;
            background-color: #428bca;
        }
